.btn__controller {
  width: 90px;
  height: 90px;
  margin: 20px 0;
  padding: 0;
  font-weight: bold;
  background-color: $btn-primary;
  border-radius: 50%;
  box-shadow: 0 8px $btn-shadow;
  border: none;
  outline: 0;
  text-transform: uppercase;
  transition: all .2s;
  color: $button-text;
  cursor: pointer;

  &--active {
    transform: translateY(5px);
    box-shadow: 0 3px $btn-shadow;
  }
  &:hover{
    background-color: darken($btn-primary, 5%);
    color: $white;
  }
  &:focus {
    outline: 0;
  }
}