.item {
  display: none;
  margin-bottom: 50px;

  &__content {
    position: relative;
    background-color: $content-bg;
    box-shadow: 10px 5px 30px -10px;

    &__image {
      position: relative;
      display: block;
      min-height: 150px;
      background-position: center;
      background-size: cover;

      &__badge {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-color: $body-bg;
        transform: rotate(-45deg);

        top: 12px;
        right: 12px;
        position: absolute;
        cursor: pointer;
        z-index: 20;

        &:after,
        &:before {
          display: inherit;
          top: -7px;
          right: 0;
          width: 14px;
          height: 14px;
          position: absolute;
          background-color: inherit;
          border-radius: 50%;
          content: "";
        }
        &:before{
          top: 0;
          right: -7px;
        }
        &--active {
          background-color: $badge-active;
        }
      }
      img {
        width: 100%;
      }
    }
    &__text {
      min-height: 270px;
      padding: 0 15px 15px;
      word-wrap: break-word;

      &__title {
        padding-top: 10px;
      }
      &__tags {
        margin-bottom: 5px;
        font-style: italic;
      }
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      padding: 0 25px 0 15px;
      overflow: hidden;
      background: $overlay;
      opacity: .95;
      transition: height .2s;
      &__text {
        color: white;
        padding: 15px 0;
      }
    }
    &:hover {
      .item__content__overlay {
        height: 100%;
      }
    }
  }

}

.news,
.other,
.sport,
.favorites {
  display: block;
}
