// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$black: #000;

$btn-primary: #1b4b72;
$btn-shadow: #092950;
$button-text: #ddd;

$body-bg: #ddd;
$content-bg: #eee;
$badge-active: #931010;
$overlay: linear-gradient(to bottom,$btn-primary, $black);

